
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Demo</title>
</head>
<body>
    <div> 
        <h1>@ViewBag.Message</h1>
        <h2>demo</h2>
    </div>
</body>
</html>
