
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GeneratedTicket</title>
</head>
<body>
    <div> 
     @foreach(var item in ViewBag.seats)
     {
         <p>@item</p>
     }
    </div>
</body>
</html>
