@model IEnumerable<BookMyshow.Models.Movy>


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="~/Content/bootstrap/css/fontawesome-all.css">
    <link rel="stylesheet" href="~/Content/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/bootstrap/css/mdb.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css">
    <link rel="stylesheet" href="~/Content/Script.css">
    <title>Movies Ticket</title>
    <link rel="icon" href="~/Content/Images/bb82ec2bbdc6893100ceaa08bc3fb61f.png">

    <!-- CAROSAL Bottom Header -->

    <link rel="stylesheet" href="~/Content/CarosalJquery/owl.carousel.min.css" />
    <link rel="stylesheet" href="~/Content/CarosalJquery/owl.theme.default.min.css" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#submitButton").click(function () {
                alert("clicked");
                $.post("verification", function (data, status) {
                 //   alert("Data: " + data + "\nStatus: " + status);
                });
            })
        });
    </script>



    <style>
        .search {
            display: inline-block;
            margin-left: 5px;
        }

        li {
            margin-left: 0;
            padding: 0;
        }


        input::placeholder {
            color: green;
            font-size: 1.2em;
            font-style: italic;
        }
        /* btn {
            max-height: 18px;
            max-width: 18px;
            margin-left: 2px;
            background: $topBarControlBackground;
            color: $topBarColor;
            line-height: 50%;
            font-size: 80%;
        } */

        /*.wrapper {
            width: 100%;
            height: auto;
            overflow: hidden;
            margin-bottom:20px;
        }

        .item {
            width: 200px;
            height: 250px;
            padding: 20px;
            margin: 20px;
        }

        .carosal-img {
            height: 250px;
            overflow: hidden;
            position: relative;
        }*/
        .container {
            padding-right: 15px;
            padding-left: 15px;
            margin-right: 10px;
            margin-left: 60px;
        }
    </style>
    <script>



        function Demo() {
            document.getElementsByName("DemoForm").submit();
        }

    </script>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script type="text/javascript">
        $(function () {

            $("#username_error").hide();
            $("#password_error").hide();

            var name_error = false;
            var password_error = false;

            $("#username").focusout(function () {
                check_name_error();
            });
            $("#password").focusout(function () {
                check_password_error();
            });

            function check_name_error() {

                var name = $("#username").val();
                if (name !== '') {
                    $("#username_error").hide();
                    $("#username").css("border-bottom", "2px solid #34F458");
                } else {
                   // $("#username_error").html("Invalid Username");
                    $("#username_error").show();
                    $("#username").css("border-bottom", "2px solid #F90A0A");
                    name_error = true;
                }
            }

            function check_password_error() {
                var Password = $("#password").val();


                if (Password == "") {
                //    $("#password_error").html("PassWord Not Match");
                    $("#password_error").show();
                    $("#password").css("border-bottom", "2px solid red");
                    error_Password = true;
                } else {
                    $("#password_error").hide();
                    $("#password").css("border-bottom", "2px solid green");

                }

            }
            $("#loginbtn").click(function () {

                name_error = false;
                password_error = false;

                check_name_error();
                check_password_error();

                if (name_error === false && password_error === false) {
                   // alert("Login Sucessfull");
                    return ("User.cshtml");
                }
                else {
                    alert("Fill Your Details");
                    return false;
                }
            })
        })
        //Forgot pass script
        $(function () {

            $("#username_error1").hide();
            $("#oldpassword_error").hide();
            $("#new_password_error").hide();

            var name_error = false;
            var old_error = false;
            var new_error = false;


            $("#username1").focusout(function () {
                check_name_error();
            });
            $("#oldpassword").focusout(function () {
                check_oldpass();
            });
            $("#newpassword").focusout(function () {
                check_newpass();
            });

            function check_name_error() {

                var name = $("#username1").val();
                if (name != "") {
                    $("#username_error1").hide();
                    $("#username1").css("border-bottom", "2px solid #34F458");
                } else {
                    $("#username_error1").html("Invalid Username");
                    $("#username_error1").show();
                    $("#username1").css("border-bottom", "2px solid #F90A0A");
                    name_error = true;
                }
            }


            function check_oldpass() {

                var password = $("#oldpassword").val();
                if (password !== '') {
                    $("#oldpassword_error").hide();
                    $("#oldpassword").css("border-bottom", "2px solid #34F458");

                } else {
                    $("#oldpassword_error").html("Please Enter Password");
                    $("#oldpassword_error").show();
                    $("#oldpassword").css("border-bottom", "2px solid #F90A0A");
                    old_error = true;
                }
            }

            function check_newpass() {

                var Password = $("#newpassword").val();


                if (Password == "") {
                    $("#new_password_error").html("Retype-password");
                    $("#new_password_error").show();
                    $("#newpassword").css("border-bottom", "2px solid red");
                    new_error = true;
                } else {
                    $("#password_error").hide();
                    $("#password").css("border-bottom", "2px solid green");

                }

            }
            $("#save").click(function () {
                name_error = false;
                old_error = false;
                new_error = false;

                check_name_error();
                check_oldpass();
                check_newpass();


                if (name_error === false && old_error === false && new_error === false) {
                    alert("Password Changed Suceesfully");

                    return ("Login");
                }
                else {
                    alert("Fill Your All required fileds");
                    return false;
                }
            })
        })
    </script>
</head>

<body>
    <!-- ############################### START HERE ################################ -->
    <!-- Main Navigation -->
    <nav class="navbar navbar-dark stylish-color-dark   navbar-expand-sm ">
        <div class="container">

            <table>
                <tr id="nav-tr">
                    <a href="/UserHome/Index" class="navbar-brand " style="margin-left: -90px;margin-top: -10px;margin-bottom: -10px;margin-right:70px;">
                        <img src="~/Content/Images/bb82ec2bbdc6893100ceaa08bc3fb61f.png" width="100" height="100">
                        <span style="color:red" class="font-weight-bold text-uppercase mt-3 mb-4"> Movies </span><span class="font-weight-bold text-uppercase mt-3 mb-4">Ticket</span>
                    </a>



                    <button class="navbar-toggler">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                </tr>
        </div>
        <tr id="nav-tr">

            <div class="collapse navbar-collapse " id="uiNavBar" style="margin-top:25px;margin-right:-50px">
                <ul class="navbar-nav ml-auto">
                    @*<form class="form-inline ml-auto">*@
                    @using (Html.BeginForm("Search", "UserHome", FormMethod.Post, new { name = "DemoForm" }))
                    {

                        <div class="form-group">

                            <input type="text" autocomplete="off" placeholder="SearchByMovie..." class="form-control" id="searchinput" name="searchInput" style="width: 200px;color:white;margin-top:-10px;">

                        </div>
                        <div class="search">

                            @*<input type="submit" value="search" id="search" class="btn btn-outline-light btn-sm"  />*@
                            <button type="submit" id="search" class="btn btn-outline-light btn-sm" onclick="Demo()">Search</button>
                            @*<a href="#" class="btn btn-outline-light btn-sm ">Search</a>*@
                        </div>
                    }
                    @*</form>*@



                    <li class="nav-item px-2">
                        <a href="@Url.Action("Index","UserHome")" class="nav-link">
                            <i class="fa fa-home"></i> Home
                        </a>
                    </li>

                    <li class="nav-item px-2">
                        <a href="#car" class="nav-link">
                            <i class="fa fa-film"></i> Movies
                        </a>
                    </li>
                    @*<li class="nav-item px-2">
                        <a href="#" class="nav-link">
                            <i class="fa fa-play"></i> Plays
                        </a>
                    </li>*@
                    <li class="nav-item px-2">
                        <a href="#" class="nav-link" data-toggle="modal" data-target="#register-modal">
                            <i class="fa fa-user"></i> Register
                        </a>
                    </li>

                    <li class="nav-item px-2">
                        <a href="#" class="nav-link" data-toggle="modal" data-target="#login-modal">
                            <i class="fa fa-user"></i> Login
                        </a>
                    </li>
                    <li class="nav-item px-2">
                        <a href="~/UserHome/SearchByCity" class="nav-link">
                            <i class="fa fa-search"></i>Pune <p style="text-decoration:overline dotted;font-size:14px;opacity:0.8">SelectCity</p>
                        </a>
                    </li>


                </ul>
            </div>
        </tr>
        </table>

    </nav>

    <!-- Slider Section -->
    <section style="padding:10px;">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">

            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block w-100" src="~/Content/Images/aquaman-movie-poster-2018-l0.jpg" alt="First slide">

                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="~/Content/Images/e1033a3d9b662e112e99e62ba2f1cd6f.jpg" alt="Second slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="~/Content/Images/1Race%20Gurram%20Malayalam%20version%20'Lucky%20The%20Racer'%20First%20Look%20Poster.jpg" alt="Third slide">
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </section>


    <!--Login Modal-->



    <div class="modal" id="login-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-grey text-white">
                    <h3>Log In</h3>
                    <button class="close" data-dismiss="modal">
                        <i class="fa fa-window-close text-white"></i>
                    </button>
                </div>
                <form action="~/UserHome/Login" method="post">
                    <div class="modal-body">
                        <div class="form-group">
                            <input type="text" placeholder="User Name" class="form-control" name="username" id="username">
                            <span id="username_error">enter correct username</span>
                        </div>
                        <div class="form-group">
                            <input type="password" placeholder="Password" class="form-control" name="password" id="password">
                            <span id="password_error">bad credentials</span>
                        </div>
                        <!--<div class="form-group">-->
                        <!--<textarea class="form-control my-textarea" rows="5" cols="30" placeholder="Leave a Message"></textarea>-->
                        <!--</div>-->
                    </div>
                    <div class="modal-footer">
                        <a href="#" class="btn btn-secondary" data-dismiss="modal">Close</a>
                        <input type="submit" class="btn btn-teal" value="Submit" id="loginbtn">
                        <a href="#" data-toggle="modal" data-target="#forgot-modal">ForgotPassword</a>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <!--Login Modal-->
    <!--Forgot Password-->
    <div class="modal" data-toggle="modal" id="forgot-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-grey text-white">
                    <h3>Cretae New password</h3>
                    <button class="close" data-dismiss="modal">
                        <i class="fa fa-window-close text-white"></i>
                    </button>
                </div>

                <div class="modal-body">
                    @using (Html.BeginForm("Forgot", "Home", FormMethod.Post))
                    {
                        <div class="form-group">
                            <label>User Name</label>
                            <input type="text" class="form-control" id="username1" />
                            <span class="username" id="username_error1"></span>

                        </div>

                        <div class="form-group">
                            <label>Enter Password</label>
                            <input type="password" class="form-control" id="oldpassword" />
                            <span class="oldpassword" id="oldpassword_error"></span>

                        </div>
                        <div class="form-group">
                            <label>Confirm Password</label>
                            <input type="password" class="form-control" id="newpassword" />
                            <span class="newpassword" id="new_password_error"></span>
                        </div>
                        <div class="modal-footer">
                            <a href="#" class="btn btn-secondary" data-dismiss="modal">Close</a>

                            <input type="submit" class="btn btn-teal" value="Submit" id="save" />

                        </div>
                    }
                </div>

            </div>
        </div>
    </div>
    <!--Forgot Password-->
    <!--Register Modal-->

    <div class="modal fade" id="register-modal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header bg-grey text-white">
                    <h3>Sign Up</h3>
                    <button class="close" data-dismiss="modal">
                        <i class="fa fa-window-close text-white"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <br />
                    @using (Html.BeginForm("Register", "UserHome", FormMethod.Post, htmlAttributes: new { id = "SignUpform" }))
                    {
                        <div class="form-group">

                            <label>User Name</label>
                            <input type="text" class="form-control" id="username2" />
                            <span id="uname_errors" class="error_form"></span>

                        </div>

                        <div class="form-group">

                            <label>Password</label>
                            <input type="password" id="password2" class="form-control" />
                            <span id="rpassword_errors" class="error_form"></span>

                        </div>

                        <div class="form-group">

                            <label>confirm Password</label>
                            <input type="password" class="form-control" id="confirmpassword2" />

                            <span id="rconfirm_password_errors2" class="error_form"></span>

                        </div>

                        <div class="form-group">

                            <label>Contact</label>
                            <input type="text" id="contactno" class="form-control" />
                            <span id="contacts_errors" class="error_form"></span>

                        </div>
                        <div class="form-group">

                            <label>Email</label>
                            <input type="email" id="email2" class="form-control" />
                            <span id="remails_errors" class="error_form"></span>

                        </div>
                        <div class="modal-footer">

                            <a href="#" class="btn btn-secondary" data-dismiss="modal">Close</a>

                            <button type="submit" class="btn btn-teal" value="Register" id="submitbtn" onclick="return RegisterValidate()">Register</button>

                        </div>
                    }
                </div>


            </div>

        </div>

    </div>
    <!--Register Modal-->
    <!-- CAROSAL Bottom  -->
    <div class="wrapper" style="margin-bottom:5px;padding:10px;overflow:hidden" id="car">

        <div class="owl-carousel owl-theme" style="margin-bottom:5px;padding:10px;overflow:hidden">


            @*<div class="item" style=""><a href="#"><img width="250px" height="250px" src="~/Content/Imagescarosal/rango.jpg"></a><caption>BoxOffice</caption></div>*@

            @foreach (var item in Model)
            {
                <div class="item"><a href="@Url.Action("MovieDescription", "UserHome", new { id=item.MovieId,citid=7 })"><img width="250px" height="250px" src="data:image;base64,@System.Convert.ToBase64String(item.Poster)"></a><caption>@item.MovieName</caption></div>
              
            }

            @*<div class="item"><a href="#"><img width="250px" height="250px" src="~/Content/Imagescarosal/ww.jpg"></a><caption>BoxOffice</caption> </div>
                <div class="item"><a href="#"><img width="250px" height="250px" src="~/Content/Imagescarosal/alpha.jpg"></a><caption>BoxOffice</caption></div>*@
            @*<div class="item"><a href="#"><img width="250px" height="250px" src="~/Content/Imagescarosal/cherranjeevi.jpg"></a><caption>BoxOffice</caption></div>
                <div class="item"><a href="#"><img width="250px" height="250px" src="~/Content/Imagescarosal/aquaman-movie-poster-2018-l0.jpg"></a><caption>BoxOffice</caption></div>
                <div class="item"><a href="#"><img width="250px" height="250px" src="~/Content/Imagescarosal/Hollywood-Animation-Movie-Kung-Fu-Panda-3-Poster.jpg"></a><caption>BoxOffice</caption></div>*@
            @*<div class="item"><a href="#"><img width="250px" height="250px" src="~/Content/Imagescarosal/1Race Gurram Malayalam version 'Lucky The Racer' First Look Poster.jpg"></a><caption>BoxOffice</caption></div>
                <div class="item"><a href="#"><img width="250px" height="250px" src="~/Content/Imagescarosal/e1033a3d9b662e112e99e62ba2f1cd6f.jpg"></a><caption>BoxOffice</caption></div>
                <div class="item"><a href="#"><img width="250px" height="250px" src="~/Content/Imagescarosal/venom.jpg"></a><caption>BoxOffice</caption></div>
                <div class="item"><a href="#"><img width="250px" height="250px" src="~/Content/Imagescarosal/82ec2bbdc6893100ceaa08bc3.png"></a><caption>BoxOffice</caption></div>
                <div class="item"><a href="#"><img width="250px" height="250px" src="~/Content/Imagescarosal/82ec2bbdc6893100ceaa08bc3.png"></a><caption>BoxOffice</caption></div>
                </div>*@


        </div>
        <!-- CAROSAL Bottom  -->



        <div>
            <h1>
              Exclusive Offers
            </h1>
            <!-- Card deck -->
            <div class="card-deck">

                <!-- Card -->
                <div class="card mb-3">

                    <!--Card image-->
                    <div class="view overlay">
                        <img class="card-img-top" src="~/Content/Offers/Copy of Family Movie Night Flyer - Made with PosterMyWall.jpg" alt="Card image cap">
                        <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>

                    <!--Card content-->
                    <div class="card-body">

                        <!--Title-->
                        <h4 class="card-title">Family Offer</h4>
                        <!--Text-->
                        <p class="card-text">Book Ticket for four people and availthis offer..</p>
                        <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                       

                    </div>

                </div>
                <!-- Card -->
                <!-- Card -->
                <div class="card mb-3">

                    <!--Card image-->
                    <div class="view overlay">
                        <img class="card-img-top" src="~/Content/Offers/Copy of movie night - Made with PosterMyWall.jpg" alt="Card image cap">
                        <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>

                    <!--Card content-->
                    <div class="card-body">

                        <!--Title-->
                        <h4 class="card-title">Movie Night Offer</h4>
                        <!--Text-->
                        <p class="card-text">Apply promo code avail offer(All users are applied)</p>
                        <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                        

                    </div>

                </div>
                <!-- Card -->
                <!-- Card -->
                <div class="card mb-3">

                    <!--Card image-->
                    <div class="view overlay">
                        <img class="card-img-top" src="~/Content/Offers/Copy of Movie Night Flyer - Made with PosterMyWall.jpg" alt="Card image cap">
                        <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>

                    <!--Card content-->
                    <div class="card-body">

                        <!--Title-->
                        <h4 class="card-title">First 5% Offer</h4>
                        <!--Text-->
                        <p class="card-text">You can avail 5% off on all movie tickets.User code FIRST</p>
                        <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                       

                    </div>

                </div>
                <!-- Card -->
                <!-- Card -->
                <div class="card mb-3">

                    <!--Card image-->
                    <div class="view overlay">
                        <img class="card-img-top" src="~/Content/Offers/Copy of Retail - Made with PosterMyWall.jpg" alt="Card image cap">
                        <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>

                    <!--Card content-->
                    <div class="card-body">

                        <!--Title-->
                        <h4 class="card-title">Special Offer</h4>
                        <!--Text-->
                        <p class="card-text">It is special offer apply the code of the card and avail this offer.</p>
                        <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                        

                    </div>

                </div>
                <!-- Card -->

            </div>
            <!-- Card deck -->
        </div>










        <!-- Contact Modal -->
        <div class="modal" id="contact-modal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header bg-grey text-white">
                        <h3>Contact Us</h3>
                        <button class="close" data-dismiss="modal">
                            <i class="fa fa-window-close text-white"></i>
                        </button>
                    </div>
                    <form>
                        <div class="modal-body">
                            <div class="form-group">
                                <input type="text" placeholder="Name" class="form-control">
                            </div>
                            <div class="form-group">
                                <input type="email" placeholder="Email" class="form-control">
                            </div>
                            <div class="form-group">
                                <textarea class="form-control my-textarea" rows="5" cols="30" placeholder="Leave a Message"></textarea>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <a href="#" class="btn btn-secondary" data-dismiss="modal">Close</a>
                            <input type="submit" class="btn btn-teal" value="Submit">
                        </div>
                    </form>
                </div>
            </div>
        </div>






        <!-- Footer -->
        <footer class="page-footer font-small stylish-color-dark pt-4 pb-4">

            <!-- Footer Links -->
            <div class="container text-center text-md-left">

                <!-- Grid row -->
                <div class="row">

                    <!-- Grid column -->
                    <div class="col-md-4 mx-auto">

                        <!-- Content -->
                        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">SUPPORT</h5>
                        <p>
                            For more support contact with us! We are available 24 * 7 on 12345-0123456789<br />
                            Drop a mail on <span style="color:salmon">M.ticket@moviesticket.com</span>
                        </p>

                    </div>
                    <!-- Grid column -->

                    <hr class="clearfix w-100 d-md-none">

                    <!-- Grid column -->
                    <div class="col-md-2 mx-auto">

                        <!-- Links -->
                        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Check Ratings</h5>

                        <ul class="list-unstyled">
                            <li>
                                <a href="https://www.imdb.com/">IDBM</a>
                            </li>
                            <li>
                                <a href="https://www.flixster.com/">Flixster</a>
                            </li>
                            <li>
                                <a href="https://www.mrqe.com/">MRQE</a>
                            </li>
                            <li>
                                <a href="https://www.yahoo.com/entertainment/movies/">Yahoo</a>
                            </li>
                        </ul>

                    </div>
                    <!-- Grid column -->

                    <hr class="clearfix w-100 d-md-none">

                    <!-- Grid column -->
                    <div class="col-md-2 mx-auto">

                        <!-- Links -->
                        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Get Movies</h5>

                        <ul class="list-unstyled">
                            <li>
                                <a href="https://megabox-hd.en.uptodown.com/android">Megabox</a>
                            </li>
                            <li>
                                <a href="https://www.hotstar.com/">Hotstar</a>
                            </li>
                            <li>
                                <a href="https://www.sonycrackle.com/">Sony Crackle</a>
                            </li>
                            <li>
                                <a href="https://vimeo.com/">Vimeo</a>
                            </li>
                        </ul>

                    </div>
                    <!-- Grid column -->

                    <hr class="clearfix w-100 d-md-none">

                    <!-- Grid column -->
                    <div class="col-md-2 mx-auto">

                        <!-- Links -->
                        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Upcoming_Movies</h5>

                        <ul class="list-unstyled">
                            <li>
                                <a href="https://www.boxofficemojo.com/">Box Office Mojo</a>
                            </li>
                            <li>
                                <a href="https://www.rottentomatoes.com/">Rotten Tomatoes</a>
                            </li>
                            <li>
                                <a href="https://www.comingsoon.net/">Coming Soon</a>
                            </li>
                            <li>
                                <a href="whenitdrops.com/">When It Drops</a>
                            </li>
                        </ul>

                    </div>
                    <!-- Grid column -->

                </div>
                <!-- Grid row -->

            </div>
            <!-- Footer Links -->

            <hr>

            <!-- Call to action -->
            <ul class="list-unstyled list-inline text-center py-2">
                <li class="list-inline-item">
                    <h5 class="mb-1">Register for free</h5>
                </li>
                <li class="list-inline-item">
                    <a href="#!" class="btn btn-danger btn-rounded" data-toggle="modal" data-target="#login-modal">Sign up!</a>
                </li>
            </ul>
            <!-- Call to action -->

            <hr>

            <!-- Social buttons -->
            <ul class="list-unstyled list-inline text-center">
                <li class="list-inline-item">
                    <a class="btn-floating btn-fb mx-1">
                        <i class="fab fa-facebook-f"> </i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a class="btn-floating btn-tw mx-1">
                        <i class="fab fa-twitter"> </i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a class="btn-floating btn-gplus mx-1">
                        <i class="fab fa-google-plus-g"> </i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a class="btn-floating btn-li mx-1">
                        <i class="fab fa-linkedin-in"> </i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a class="btn-floating btn-dribbble mx-1">
                        <i class="fab fa-dribbble"> </i>
                    </a>
                </li>
            </ul>
            <!-- Social buttons -->
            <!-- Copyright -->






            <div class="container-fluid">
                <div class="row align-items-center">



                    <div class="col-md-4" style="margin-left: 105px">
                        <h4>Copyright &copy; 2019</h4>
                        <span style="color:red" class="font-weight-bold text-uppercase mt-3 mb-4"> Movies </span><span class="font-weight-bold text-uppercase mt-3 mb-4">Ticket</span>

                        <p>
                            Developed & Maintained by
                            <a class="text-warning" href="https://github.com/thenaveensaggam" target="_blank">
                                <i class="fa fa-user-circle"></i> Shubham ,Pradeep,Neha
                            </a>
                        </p>
                    </div>

                    <div class="col-md-3">
                        <a href="#" class="btn bg-stylish-color-dark btn-block" data-toggle="modal" data-target="#contact-modal">Contact</a>
                    </div>
                    <div class="col-md-1">
                        <a href="#" class="btn btn-stylish-color-dark top-icon">
                            <i class="fa fa-arrow-alt-circle-up fa-2x "></i>
                        </a>
                    </div>
                </div>
            </div>


            <!-- Copyright -->

        </footer>
        <!-- Footer -->
        <!-- ############################### END HERE ################################ -->
        <script src="~/Scripts/RegisterScript.js"></script>
</body>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<!-- BODY ENDS -->
<!-- CAROSAL Bottom Script -->

<script src="~/Content/CarosalJquery/jquery-3.2.1.min.js"></script>
<script src="~/Content/CarosalJquery/owl.carousel.min.js"></script>
<script src="~/Content/CarosalJquery/jquer.js"></script>


<!-- CAROSAL Bottom Script -->
<script src="~/Content/bootstrap/js/fontawesome-all.js"></script>
<script src="~/Content/bootstrap/js/jquery-3.2.1.min.js"></script>
<script src="~/Content/bootstrap/js/popper.min.js"></script>
<script src="~/Content/bootstrap/js/bootstrap.min.js"></script>
<script src="~/Content/bootstrap/js/mdb.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.js"></script>
<script>
    $(document).on('click', '[data-toggle="lightbox"]', function (event) {
        event.preventDefault();
        $(this).ekkoLightbox();
    });
</script>
</html>

