@model IEnumerable<BookMyshow.Models.MovyByCity_Result>


<html>
<head>


    <link rel="stylesheet" href="~/Content/bootstrap/css/fontawesome-all.css" />

    <link rel="stylesheet" href="~/Content/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/bootstrap/css/mdb.css">

    <style>

        h4 {
            margin-left: 5px;
        }

        #drop {
            width: 200px;
            height: 30px;
        }

        #submitbtn {
        }
    </style>
    <script>
        function validate() {
            document.getElementsByName("Newform").submit();
        }
    </script>

</head>
<body>


    <!-- Main Navigation -->
    <nav class="navbar navbar-dark stylish-color-dark   navbar-expand-sm ">
        <div class="container">

            <table>
                <tr id="nav-tr">
                    <a href="index.html" class="navbar-brand " style="margin-left: -80px;margin-top: -10px;margin-bottom: -10px">
                        <img src="~/Content/Images/bb82ec2bbdc6893100ceaa08bc3fb61f.png" width="100" height="100">
                        <span style="color:red" class="font-weight-bold text-uppercase mt-3 mb-4"> Movies </span><span class="font-weight-bold text-uppercase mt-3 mb-4">Ticket</span>

                    </a>

                   










                    <button class="navbar-toggler">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                </tr>
        </div>
        <tr id="nav-tr">

            <div class="collapse navbar-collapse " id="uiNavBar" style="margin-top:25px;margin-right:-50px">
                <ul class="navbar-nav ml-auto">
                    @using (Html.BeginForm("Search", "UserHome", FormMethod.Post, new { name = "DemoForm" }))
                    {

                        <div class="form-group">

                            <input type="text" placeholder="SearchByMovie..." class="form-control" id="searchinput" name="searchInput" style="width: 200px;color:white;margin-top:-10px;">

                        </div>
                        <div class="search">

                            @*<input type="submit" value="search" id="search" class="btn btn-outline-light btn-sm"  />*@
                            <button type="submit" id="search" class="btn btn-outline-light btn-sm" onclick="Demo()">Search</button>
                            @*<a href="#" class="btn btn-outline-light btn-sm ">Search</a>*@
                        </div>
                    }
                    @*</form>*@
                    <li class="nav-item px-2">
                        <a href="/MoviesTicket/Movie" class="nav-link">
                            <i class="fa fa-home"></i> Home
                        </a>
                    </li>
                    <li class="nav-item px-2">
                        <a href="#" class="nav-link" data-toggle="modal" data-target="#login-modal">
                            <i class="fa fa-user"></i> Register
                        </a>
                    </li>

                    <li class="nav-item px-2">
                        <a href="#" class="nav-link" data-toggle="modal" data-target="#login-modal">
                            <i class="fa fa-user"></i> Login
                        </a>
                    </li>
                    <li class="nav-item px-2">
                        <a href="#" class="nav-link">
                            <i class="fa fa-film"></i> Movies
                        </a>
                    </li>
                    <li class="nav-item px-2">
                        <a href="#" class="nav-link">
                            <i class="fa fa-play"></i> Plays
                        </a>
                    </li>
                    <li class="nav-item px-2">
                        <a href="/City/SearchByCity" class="nav-link">
                            <i class="fa fa-search"></i> City
                        </a>
                    </li>


                </ul>
            </div>
        </tr>
        </table>

    </nav>
    <br />

    <!--Ends Here-->
    <!--Main Function-->
    <h2>MoviesByCity</h2>
    <table style="margin-left:7%">
        @foreach (var item in Model)
        {

            <tr class="col-lg-4 col-md-4" style="display:inline-block;">

                <td>

                    <a href="@Url.Action("MovieDescription", "UserHome", new { id = item.MovieId })">
                        <h2><img src="data:image;base64,@System.Convert.ToBase64String(item.Poster)" width="250" height="200" style="border-radius:5px" /></h2>
                    </a>
                    <h4 class="bg-light" style="border-radius:5px;padding:5px;text-align:center;">@item.MovieName</h4>
                </td>
                <td>
                    
                </td>




            </tr>
        }
    </table>
    <!--Main Function-->
    <!-- Footer -->
    <footer class="page-footer font-small stylish-color-dark pt-4 pb-4">

        <!-- Footer Links -->
        <div class="container text-center text-md-left">

            <!-- Grid row -->
            <div class="row">

                <!-- Grid column -->
                <div class="col-md-4 mx-auto">

                    <!-- Content -->
                    <h5 class="font-weight-bold text-uppercase mt-3 mb-4">SUPPORT</h5>
                    <p>
                        For more support contact with us! We are available 24 * 7 on 12345-0123456789<br />
                        Drop a mail on <span style="color:salmon">M.ticket@moviesticket.com</span>
                    </p>

                </div>
                <!-- Grid column -->

                <hr class="clearfix w-100 d-md-none">

                <!-- Grid column -->
                <div class="col-md-2 mx-auto">

                    <!-- Links -->
                    <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Check Ratings</h5>

                    <ul class="list-unstyled">
                        <li>
                            <a href="https://www.imdb.com/">IDBM</a>
                        </li>
                        <li>
                            <a href="https://www.flixster.com/">Flixster</a>
                        </li>
                        <li>
                            <a href="https://www.mrqe.com/">MRQE</a>
                        </li>
                        <li>
                            <a href="https://www.yahoo.com/entertainment/movies/">Yahoo</a>
                        </li>
                    </ul>

                </div>
                <!-- Grid column -->

                <hr class="clearfix w-100 d-md-none">

                <!-- Grid column -->
                <div class="col-md-2 mx-auto">

                    <!-- Links -->
                    <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Get Movies</h5>

                    <ul class="list-unstyled">
                        <li>
                            <a href="https://megabox-hd.en.uptodown.com/android">Megabox</a>
                        </li>
                        <li>
                            <a href="https://www.hotstar.com/">Hotstar</a>
                        </li>
                        <li>
                            <a href="https://www.sonycrackle.com/">Sony Crackle</a>
                        </li>
                        <li>
                            <a href="https://vimeo.com/">Vimeo</a>
                        </li>
                    </ul>

                </div>
                <!-- Grid column -->

                <hr class="clearfix w-100 d-md-none">

                <!-- Grid column -->
                <div class="col-md-2 mx-auto">

                    <!-- Links -->
                    <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Upcoming_Movies</h5>

                    <ul class="list-unstyled">
                        <li>
                            <a href="https://www.boxofficemojo.com/">Box Office Mojo</a>
                        </li>
                        <li>
                            <a href="https://www.rottentomatoes.com/">Rotten Tomatoes</a>
                        </li>
                        <li>
                            <a href="https://www.comingsoon.net/">Coming Soon</a>
                        </li>
                        <li>
                            <a href="whenitdrops.com/">When It Drops</a>
                        </li>
                    </ul>

                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row -->

        </div>
        <!-- Footer Links -->

        <hr>

        <!-- Call to action -->
        <ul class="list-unstyled list-inline text-center py-2">
            <li class="list-inline-item">
                <h5 class="mb-1">Register for free</h5>
            </li>
            <li class="list-inline-item">
                <a href="#!" class="btn btn-danger btn-rounded" data-toggle="modal" data-target="#login-modal">Sign up!</a>
            </li>
        </ul>
        <!-- Call to action -->

        <hr>

        <!-- Social buttons -->
        <ul class="list-unstyled list-inline text-center">
            <li class="list-inline-item">
                <a class="btn-floating btn-fb mx-1">
                    <i class="fab fa-facebook-f"> </i>
                </a>
            </li>
            <li class="list-inline-item">
                <a class="btn-floating btn-tw mx-1">
                    <i class="fab fa-twitter"> </i>
                </a>
            </li>
            <li class="list-inline-item">
                <a class="btn-floating btn-gplus mx-1">
                    <i class="fab fa-google-plus-g"> </i>
                </a>
            </li>
            <li class="list-inline-item">
                <a class="btn-floating btn-li mx-1">
                    <i class="fab fa-linkedin-in"> </i>
                </a>
            </li>
            <li class="list-inline-item">
                <a class="btn-floating btn-dribbble mx-1">
                    <i class="fab fa-dribbble"> </i>
                </a>
            </li>
        </ul>
        <!-- Social buttons -->
        <!-- Copyright -->






        <div class="container-fluid">
            <div class="row align-items-center">



                <div class="col-md-4" style="margin-left: 105px">
                    <h4>Copyright &copy; 2019</h4>
                    <span style="color:red" class="font-weight-bold text-uppercase mt-3 mb-4"> Movies </span><span class="font-weight-bold text-uppercase mt-3 mb-4">Ticket</span>

                    <p>
                        Developed & Maintained by
                        <a class="text-warning" href="https://github.com/thenaveensaggam" target="_blank">
                            <i class="fa fa-user-circle"></i> Shubham ,Pradeep,Neha
                        </a>
                    </p>
                </div>

                <div class="col-md-3">
                    <a href="#" class="btn bg-stylish-color-dark btn-block" data-toggle="modal" data-target="#contact-modal">Contact</a>
                </div>
                <div class="col-md-1">
                    <a href="#" class="btn btn-stylish-color-dark top-icon">
                        <i class="fa fa-arrow-alt-circle-up fa-2x "></i>
                    </a>
                </div>
            </div>
        </div>


        <!-- Copyright -->

    </footer>
    <!-- Footer -->
    <!-- Footer -->
    <!--Script-->
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

    <script src="~/Content/bootstrap/js/fontawesome-all.js"></script>
    <script src="~/Content/bootstrap/js/jquery-3.2.1.min.js"></script>
    <script src="~/Content/bootstrap/js/popper.min.js"></script>
    <script src="~/Content/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Content/bootstrap/js/mdb.min.js"></script>
</body>
</html>
