@model IEnumerable<BookMyshow.Models.MovyByCity_Result>

<table  style="margin-left:7%">
    @foreach (var item in Model)
    {

        <tr class="col-lg-4 col-md-4" style="display:inline-block;">

            <td>
                @*@Convert.ToBase64String(item.Poster)*@
                <a href="@Url.Action("MovieDescription", "UserHome", new { id = item.MovieId })">
                    <h2><img src="data:image;base64,@System.Convert.ToBase64String(item.Poster)" width="250" height="200" style="border-radius:5px" /></h2>
                </a>
                <h4 class="bg-light" style="border-radius:5px;padding:5px;text-align:center;">@item.MovieName</h4>
            </td>


        </tr>
    }
</table>
