
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>loginfail</title>
</head>
<body>
    <div> 
        <h2>login fail</h2>
    </div>
</body>
</html>
